
.info-box-text {
    font-size: 18px;
    margin-top: 5px;
}

/* .fixed-button-box {
    background-color: white;
    margin-right: 50px;
    margin-bottom: 50px;
} */

.fixed-interaction-menu {
    background-color: white;
    width: 100%;
}

.menu-buttons {
    width: 130px;
}

.playlist-title-column {
    display: flex;
    align-items: center;
}

.playlist-title-text {
    font-size: 17px;
}