
.info-box-text {
    font-size: 20px;
}

.fixed-buttons {
    margin-right: 50px;
    margin-bottom: 50px;
}

.playlist-title-column {
    display: flex;
    align-items: center;
}

.playlist-title-text {
    font-size: 17px;
}